{% extends "base.html" %}
{% block html_lang %}{{ lang }}{% endblock %}

{% block content %}
<section class="wrapper style1">
    <div class="container">
        <div id="content">
        <article>
            <header>
                <h2>Courses</h2>
            </header>
            {% for page in pages | selectattr('category', '==', 'about_courses') %}
                <div>{{ page.content }}</div>
            {% endfor %}

            {% for course in current_courses %}
            <div class="row gtr-150">
                <section class="col-12 col-12-narrower col-12-mobile">
                    <h3>{{ course.title }}</h3>
                </section>
                <section class="col-9 col-8-narrower col-12-mobile">
                    <div id="content" class="mdtext">
                        {% if course.teachers | length() > 1 %}
                            Lecturers:
                        {% else %}
                            Lecturer:
                        {% endif %}

                        {% for person in course.teachers %}
                            {% if person['url'] != 'None' %}
                                <a href="{{ SITEURL }}/{{ person['url'] }}">{{ person['name_surname'] }}</a>{{ ", " if not loop.last else "" }}
                            {% elif person['name_surname'] != 'None' %}
                                {{ person['name_surname'] }}{{ ", " if not loop.last else "" }}
                            {% else %}
                                {{ person['id'] }}{{ ", " if not loop.last else "" }}
                            {% endif %}
                        {% endfor %}

                        {{ course.content }}
                    </div>
            </section>
            </div>
            {% endfor %}
        </article>
        </div>
    </div>
</section>
{% endblock content %}
