{% extends "base.html" %}

{% block content %}
<section class="wrapper style1">
    <div class="container notpaddedtexts">
        <div id="content">
            <article>
                <header>
                    <h2>{{ person_info.name_surname }}</h2>
                    <h4>{{ person_info.position }}</h4>
                </header>
            </article>
            <div class="box post">
                <div class="row">
                    <section class="col-3 col-4-narrower col-4-mobile col-12-mobilep">
                        {% if person_info.photo %}
                        <div class="personcircle_big">
                            <img src="{{ SITEURL }}/{{ person_info.photo }}" alt="">
                        </div>
                        {% endif %}
                    </section>
                    <section class="col-9 col-8-narrower col-8-mobile col-12-mobilep">                    
                        {%if person_info.email %}
                        <p>E-mail: <a href="mailto:{{ person_info.email }}">{{ person_info.email }}</a></p>
                        {% endif %}
                        {%if person_info.istinapage %}
                        <p><a href="{{ person_info.istinapage }}">Istina profile</a></p>
                        {% endif %}
                        {%if person_info.googlescholarpage %}
                        <p><a href="{{ person_info.googlescholarpage }}">Google Scholar Profile</a></p>
                        {% endif %}
                        {% if (person_info.researchinterests and person_info.researchinterests | length() > 0) %}
                        <h4>Research Interests:</h4>
                        <ul>
                        {% for research_interest in person_info.researchinterests %}
                            <li> {{ research_interest }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </section>
                </div>
            </div>
        
            <div id="content" class="mdtext">
                {{ person_info.about }}
            </div>

            {% if (person_info.projects and person_info.projects | length() > 0) %}
            <h3>Projects</h3>
            {% with projects_list = person_info.projects %}
                {% include "projects_template.html" %}
            {% endwith %}
            {% endif %}

            {% if (person_info.selectedpublications and person_info.selectedpublications | length() > 0) %}
            <h3>Selected Publications</h3>
            {% with publications_list = person_info.selectedpublications %}
                <ol>
                    {% for publication in publications_list %}
                        <li>
                            {% include "publication_template.html" %}
                        </li>
                    {% endfor %}
                </ol>
            {% endwith %}
            {% elif (person_info.recentpublications and person_info.recentpublications | length() > 0) %}
            <h3>Recent Publications</h3>
            {% with publications_list = person_info.recentpublications %}
                <ol>
                    {% for publication in publications_list %}
                        <li>
                            {% include "publication_template.html" %}
                        </li>
                    {% endfor %}
                </ol>
            {% endwith %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}
