<b>{{ publication.title }}.</b>
{% if publication.pdfpath %}
    <a href="{{ publication.pdfpath }}" style="color:red;"><img src="{{ SITEURL }}/theme/images/pdf_icon.png" alt="pdf" style="width: 15px;"></a>
{% endif %}
{% for person in publication.paperauthors %}
    {% if person['original_name'] != 'None' %}
        {{ person['original_name'] }}{{ ", " if  not loop.last else "." }}
    {% else %}
        {{ person['person_id']['id'] }}{{ ", " if not loop.last else "." }}
    {% endif %}
{% endfor %}
{% if publication.journal | length() > 1 %}
    {{ publication.journal }}, {{ publication.year }}
{% else %}
    {{ publication.year }}
{% endif%}
